body{
  font-family: 'Dancing Script', cursive; 
  background-color: #000;
}

.clock{
  font-size: 4rem;
  width: 30rem;
  text-align: center;
  border: 2px solid #000;
  color:#eee;
  border-radius: 20px;
  display: block;
  box-shadow: .5rem .5rem 1rem red;
  transition: all .4s;

}

.clock:hover{
  transform: scale(1.1);
  box-shadow: .5rem 1rem 1rem red;
}

.tex-box{
  position: absolute;
  width: auto;
  color: #eee;
  font-size: 2rem;
  top: 5%;
  left: 2%;
  text-shadow: .5rem .5rem 1rem red;
  transition: all .4s;
}
.tex-box:hover{
  text-shadow: 1rem 0rem 1rem red;
}
.btn-box
{
  font-size: 2rem;
  position:absolute;
  width: auto;
  bottom: 13%;
  left: 45%;
  padding: .5rem 2rem ;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.4rem red ;
  transition: all .4s;
}
.btn-box:hover{
  transform: scale(1.1);
  box-shadow: 0rem 0rem 2rem red;
}
